.square {
      width: 200px;
      height: 200px;
      border-style: solid;
      border-color: rgb(35, 11, 58);
}

.grid {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-content: center;
      width: 700px;
      height: 700px;
}

.mole {
      background-image: url(mole.jpg);
      background-size: cover;
}